<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint>
<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <title>PDF.js viewer</title>
  <style>
    body {
      background-color: #808080;
      margin: 0;
      padding: 0;
    }
    #viewerContainer {
      overflow: auto;
      position: absolute;
      width: 70%;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" href="/static/pdfjs-dist/web/pdf_viewer.css">
  <link rel="stylesheet" href="/static/balloon.css">
  <script src="/static/pdfjs-dist/build/pdf.js"></script>
  <script src="/static/pdfjs-dist/web/pdf_viewer.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body style="background-color:#ffffff;">
  <div id="viewerContainer" style="display:block;">
    <div id="viewer" class="pdfViewer"></div>
  </div>
  <div align="right" style="background-color:#ffffff;">
    <div>
      <input type="file" id="upload_file"/></div>
    <div>
  </div>
  <div style="background-color:#ffffff;">
    <div>
      <button id="load_pages">Load pages</button>
    </div>
    <div>
      <textarea id="search_word" cols="20" rows="1"></textarea>
      <button id="select_sentence">Search sentence</button>
    </div>
    <div>
      <button id="clear_searched_highlight">Clear searched highlight</button>
    </div>
    <div>
      <button id="clear_all_highlight">Clear all highlight</button>
    </div>
    <div>
      <button id="clear_table_records">Clear table records</button>
    </div>
    <div>
      <table width="350" border="1">
        <thead>
          <td>select</td>
          <td>sentence</td>
          <td>index</td>
          <td>top</td>
        </thead>
        <tbody id="selected_sentnce_table"></tbody>
      </table>
    </div>
  </div>
  <!--div id="layer" style="position:absolute; width:900px; height:900pt; left:0px; top:0px; background-color:#fbff96;">レイヤーです。</div-->
  <script src="/static/simpleviewer_test.js"></script>
</body>
</html>
