<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint>
<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <title>PDF.js viewer</title>
  <style>
    body {
      background-color: #808080;
      margin: 0;
      padding: 0;
    }
    #viewerContainer {
      overflow: auto;
      position: absolute;
      width: 70%;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" href="/static/pdfjs-dist/web/pdf_viewer.css">
  <script src="/static/pdfjs-dist/build/pdf.js"></script>
  <script src="/static/pdfjs-dist/web/pdf_viewer.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="viewerContainer">
    <div id="viewer" class="pdfViewer"></div>
  </div>
  <div align="right" style="background-color:#2e8b57;">
    <div>
      <input type="file" id="uploadfiles"/></div>
    <div>
  </div>
  <div style="background-color:#ccffe6;">
    <div>
      <textarea id="search_word" cols="20" rows="1"></textarea>
      <button id="select_sentence">Search sentence</button>
    </div>
    <div>
      <button id="clear_highlight">Clear highlight</button>
    </div>
    <div>
      <table id="selected_sentnce_table" width="350" >
      </table>
    </div>
  </div>
  <script src="/static/simpleviewer_test.js"></script>
</body>
</html>
